In [2]:
import requests
import matplotlib as plt
import pandas as pd

In [36]:
key = pd.read_csv("KEY.csv")
govkey = key.loc[0][0]
time = [2010, 2011, 2012, 2013, 2014, 2015, 2016]

In [43]:
url = f"https://api.census.gov/data/timeseries/poverty/saipe/schdist?get=GEOCAT,GEOID,GRADE,SD_NAME,SAEPOVALL_PT&for=school%20district%20(unified):*&time=2019&key={govkey}"

In [44]:
r = requests.get(url)

In [45]:
df = pd.DataFrame(r.json()[1:], columns = r.json()[0])

In [46]:
df.columns

Index(['GEOCAT', 'GEOID', 'GRADE', 'SD_NAME', 'SAEPOVALL_PT', 'time', 'state',
       'school district (unified)'],
      dtype='object')

In [47]:
df['GRADE'].value_counts()

PK-12    7951
KG-12    2899
Name: GRADE, dtype: int64

In [48]:
df

,GEOCAT,GEOID,GRADE,SD_NAME,SAEPOVALL_PT,time,state,school district (unified)
0,970,0100001,KG-12,Fort Rucker School District,4547,2019,01,00001
1,970,0100003,KG-12,Maxwell AFB School District,2482,2019,01,00003
2,970,0100005,KG-12,Albertville City School District,22051,2019,01,00005
3,970,0100006,PK-12,Marshall County School District,49087,2019,01,00006
4,970,0100007,KG-12,Hoover City School District,83044,2019,01,00007
...,...,...,...,...,...,...,...,...
10845,970,5605820,KG-12,Washakie County School District 2,670,2019,56,05820
10846,970,5605830,KG-12,Teton County School District 1,23464,2019,56,05830
10847,970,5606090,KG-12,Weston County School District 7,1462,2019,56,06090
10848,970,5606240,KG-12,Washakie County School District 1,7135,2019,56,06240
10849,970,7200030,KG-12,Puerto Rico,3193694,2019,72,00030