In [1]:
import requests
import pandas as pd
import matplotlib as plt

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_csv('api.csv')
key = df['API'].iloc[0]

In [4]:
#converts the api json format into a more readable DataFrame
def json_to_pd(url):
    return pd.DataFrame(pd.DataFrame(r.json()[1:], columns = r.json()[0]))

In [5]:
url = f'https://api.census.gov/data/2018/abscs?get=NAME,SEX,ETH_GROUP,EMP,PAYANN,RACE_GROUP,VET_GROUP,FIRMPDEMP,RCPPDEMP&for=state:*&NAICS2017=00&key={key}'

In [6]:
r = requests.get(url)

In [7]:
test = json_to_pd(url)
test

,NAME,SEX,ETH_GROUP,EMP,PAYANN,RACE_GROUP,VET_GROUP,FIRMPDEMP,RCPPDEMP,NAICS2017,state
0,Mississippi,002,029,0,0,00,003,0,0,00,28
1,Mississippi,003,029,7463,248480,00,003,466,0,00,28
2,Mississippi,004,029,4307,103801,00,003,572,0,00,28
3,Mississippi,001,001,11422,346310,30,003,926,0,00,28
4,Mississippi,096,096,502962,16380166,96,096,37489,0,00,28
...,...,...,...,...,...,...,...,...,...,...,...
9663,Minnesota,002,029,0,0,00,003,0,0,00,27
9664,Minnesota,003,029,8311,429456,00,003,941,0,00,27
9665,Minnesota,004,029,0,0,00,003,0,0,00,27
9666,Minnesota,001,001,0,0,30,003,0,0,00,27
9667,Minnesota,096,096,1243711,52997220,96,096,105997,0,00,27

In [8]:
print(test['RCPPDEMP'].value_counts())
print(test['PAYANN'].value_counts())

0    9668
Name: RCPPDEMP, dtype: int64
0           4499
59532          4
14285          4
1568           4
139752         4
            ...
23317500       1
15426306       1
11246381       1
6219668        1
89601          1
Name: PAYANN, Length: 4836, dtype: int64